html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}

.box {
  width: 400px;
  height: 250px;
  background-color: #212121;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 100px;
  font-weight: 900;
  user-select: none;
  padding: 0 20px;
  color: white;

  /* 盒子投影 */
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.2)));
}
